In [1]:
# importing required packages
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
# reading dataset from csv file and storing in df variable
df = pd.read_csv('loan.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
# checking the number of records in the dataset
df.shape

(39717, 111)

In [4]:
# Settings the number of rows to display in output to few all column data
# got below code from "https://stackoverflow.com/questions/58298963/jupyter-not-showing-whole-output" url
pd.set_option('display.max_rows', 200)

In [5]:
# checking the datatypes of the columns in the dataset
df.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                         int64
earliest_cr_line                   object
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                            int64
pub_rec                             int64
revol_bal                           int64
revol_util                         object
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                         int64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                      int64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                         int64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

# Datatype Conversions

_Converting the columns data with relevant data type {e.g. converting string date to date format}_

In [6]:
# ID of the customer is not a numeric value to perform some operation, but a unique value to identify the customer
# So, converting id column to String type
df.id = df.id.astype(str)
df.id.describe()

count      39717
unique     39717
top       901982
freq           1
Name: id, dtype: object

In [7]:
# Member ID of the customer is not a numeric value to perform some operation, but a unique value to identify the customer membership
# So, converting member id column to String type

df.member_id = df.member_id.astype(str)
df.member_id.describe()

count       39717
unique      39717
top       1289493
freq            1
Name: member_id, dtype: object

In [8]:
# Term in the dataset is available as object, where term is a interger value of number of months the loan period
# replacing the "months" with empty string and converting it to int
df.term = df.term.apply(lambda x: int(x.replace('months', '').strip()))
df.term.describe()

count    39717.000000
mean        42.418007
std         10.622815
min         36.000000
25%         36.000000
50%         36.000000
75%         60.000000
max         60.000000
Name: term, dtype: float64

In [9]:
# Interest Rate on the loan is a numeric value and only contains percentage symbol in addition with the interest rate
# by removing "%" from the interest rate column, we can convert it into numberic column [float type]
# df.int_rate = df.int_rate.apply(lambda x: float(x.replace('%', '').strip()))
# df.int_rate.describe()

In [10]:
# converting issue_d i.e. The month which the loan was funded column type to date format
df.issue_d = pd.to_datetime(df.issue_d, format='%b-%y')
df.issue_d.describe()

count                   39717
unique                     55
top       2011-12-01 00:00:00
freq                     2260
first     2007-06-01 00:00:00
last      2011-12-01 00:00:00
Name: issue_d, dtype: object

In [11]:
# converting earliest_cr_line i.e. The month the borrower's earliest reported credit line was opened column type to date format
df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line, format='%b-%y')
df.earliest_cr_line.describe()

count                   39717
unique                    526
top       1998-11-01 00:00:00
freq                      370
first     1969-02-01 00:00:00
last      2068-12-01 00:00:00
Name: earliest_cr_line, dtype: object

In [12]:
#  converting revol_util i.e. Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit  column to float type by removing "%"
df.revol_util = df.revol_util.apply(lambda x: float(str(x).replace('%', '').strip()))
df.revol_util.describe()

count    39667.000000
mean        48.832152
std         28.332634
min          0.000000
25%         25.400000
50%         49.300000
75%         72.400000
max         99.900000
Name: revol_util, dtype: float64

In [13]:
# converting last_pymnt_d column to date type column
df.last_pymnt_d = pd.to_datetime(df.last_pymnt_d, format='%b-%y')
df.last_pymnt_d.describe()

count                   39646
unique                    101
top       2016-05-01 00:00:00
freq                     1256
first     2008-01-01 00:00:00
last      2016-05-01 00:00:00
Name: last_pymnt_d, dtype: object

In [14]:
# converting next_pymnt_d column to date type column
df.next_pymnt_d = pd.to_datetime(df.next_pymnt_d, format='%b-%y')
df.next_pymnt_d.describe()

count                    1140
unique                      2
top       2016-06-01 00:00:00
freq                     1125
first     2016-06-01 00:00:00
last      2016-07-01 00:00:00
Name: next_pymnt_d, dtype: object

In [15]:
# converting last_credit_pull_d column to date type column
df.last_credit_pull_d = pd.to_datetime(df.last_credit_pull_d, format='%b-%y')
df.last_credit_pull_d.describe()

count                   39715
unique                    106
top       2016-05-01 00:00:00
freq                    10308
first     2007-05-01 00:00:00
last      2016-05-01 00:00:00
Name: last_credit_pull_d, dtype: object

# Data cleaning
_fixing the issues in the column data_

In [16]:
# As per Data Dictionary, id of a customer should be unique
# checking id column is unique by checking number of records [count] and unique values [unique] are same/equal
df.id.describe()

count      39717
unique     39717
top       901982
freq           1
Name: id, dtype: object

In [17]:
# As per Data Dictionary, member id of a customer should be unique
# checking member id column is unique by checking number of records [count] and unique values [unique] are same/equal
df.member_id.describe()

count       39717
unique      39717
top       1289493
freq            1
Name: member_id, dtype: object

In [18]:
# checking that funded amount should be less than or equals to applied loan amount, by using the opposite condition output rows are zero
df[df.funded_amnt > df.loan_amnt].shape

(0, 111)

In [19]:
# checking that funded amount should be greater than or equals to funded amount by investor, and this is being tested by using the opposite condition where output rows should be zero
df[df.funded_amnt<df.funded_amnt_inv].shape

(0, 111)

In [20]:
# Term of the loan should be either 36 months or 60 months
# So, checking the unique values in the term column by grouping the same

df.term.groupby(by=df.term).describe()

        count  mean  std   min   25%   50%   75%   max
term
36    29096.0  36.0  0.0  36.0  36.0  36.0  36.0  36.0
60    10621.0  60.0  0.0  60.0  60.0  60.0  60.0  60.0

In [29]:
df.int_rate.groupby(by=[df.grade, df.sub_grade, df.term]).describe()

                     count unique     top freq
grade sub_grade term
A     A1        36    1139      6   5.42%  573
      A2        36    1494      7   5.79%  400
                60      14      2   5.79%   10
      A3        36    1769      9   6.99%  336
                60      41      2   6.17%   31
      A4        36    2753     12   7.49%  641
                60     133      5   6.54%   43
      A5        36    2495     10   7.88%  641
                60     247      5   7.88%   84
B     B1        36    1619     15   9.91%  329
                60     211      5  10.38%   55
      B2        36    1724     15  10.65%  328
                60     333      5  10.65%  107
      B3        36    2195     15  10.99%  525
                60     722      6  10.99%  194
      B4        36    1819     13  11.49%  492
                60     693      6  11.49%  333
      B5        36    1974     15  12.69%  334
                60     730      7  11.99%  204
C     C1        36    1470     13  12.99%  256
                60     666      7  12.99%  187
      C2        36    1341     14  14.27%  232
                60     670      7  13.49%  203
      C3        36    1092     14  13.48%  152
                60     437      6  13.98%  132
      C4        36     954     15  13.85%  130
                60     282      4  14.79%   93
      C5        36     892     15  14.26%  125
                60     294      5  15.23%   90
D     D1        36     918     15  15.62%  162
                60      13      5  15.62%    5
      D2        36     816     13  14.96%  202
                60     532      8  15.99%  151
      D3        36     637     14  16.49%  105
                60     536      6  17.27%  138
      D4        36     494     13  15.65%  110
                60     487      7  16.89%  132
      D5        36     366     14  16.00%   58
                60     508      8  17.49%  141
E     E1        36     286     12  16.45%   70
                60     477      6  17.99%  118
      E2        36     211     12  16.82%   41
                60     445      6  18.39%  126
      E3        36     164     12  17.19%   32
                60     389      7  19.42%   98
      E4        36     108     14  17.56%   26
                60     346      6  19.29%   94
      E5        36      99     14  17.93%   30
                60     317      7  19.69%   96
F     F1        36      62     10  18.30%   14
                60     267      6  20.25%   74
      F2        36      54     11  18.43%   13
                60     195      6  20.62%   53
      F3        36      31     10  19.04%   10
                60     154      5  20.99%   48
      F4        36      38     10  19.13%   11
                60     130      6  21.36%   41
      F5        36      26      8  19.47%    7
                60      92      6  21.74%   27
G     G1        36      20      7  19.82%    5
                60      84      5  22.11%   28
      G2        36      13      6  20.03%    4
                60      65      5  20.48%   21
      G3        36       4      4  18.72%    1
                60      44      5  20.85%   15
      G4        36       9      5  20.86%    3
                60      47      6  23.91%   11
      G5        36      10      6  21.21%    4
                60      20      6  21.59%    7